<main>
  <div class="gridx">
    <div class="cell title">
      Trending
    </div>

    

    
    {{#if hasResults}}
    
    <div class="swiper-container">
      <div class="swiper-wrapper">
      {{#each results}}
        <img class="poster swiper-slide" data-id="{{id}}"src="http://image.tmdb.org/t/p/w185{{poster_path}}" alt="{{title}}">
      {{/each}}
      </div>
    </div>
    {{else}}
    Error loading trending
    {{/if}}

</main>


<script src="../dist/js/swiper.min.js"></script>
<script>
  //<a href="/movie/{{id}}">
  $(".poster").click("on", function(){
    window.location.href = "/movie/" + $(this).attr("data-id");
  })
</script>