<main>
  <div class="gridx">
    <div class="cell title">
      Trending

    </div>
		<div class="grid-x">
			<div class="cell medium-3 small-6 poster"><img class="shad" src="styles/images/poster.jpg">
			</div>


			<div class="cell medium-3 small-6 poster"><img class="shad" src="styles/images/poster.jpg">
			</div>


			<div class="cell medium-3 small-6 poster"><img class="shad" src="styles/images/poster.jpg">
			</div>


			<div class="cell medium-3 small-6 poster"><img class="shad" src="styles/images/poster.jpg">
			</div>
		</div>
	</main>

	{{#if isLoggedIn }}



<div style="text-align: center; margin: 40px auto;">
  <h1>User signed in: {{id}}</h1>
  <a href="/logout">logout</a>
</div>
<div style="text-align: center; margin: 40px auto;">
  <a href="/watchedList">watchedList</a>
  <a href="/wishList">wishList</a>
</div>
<div style="text-align: center; margin: 40px auto;">
  <a href="/search/The%20Matrix">sampleSearch</a>
</div>



{{else}}


<div style="text-align: center; margin: 40px auto;">
  <a href="/signin">signin</a>
  <a href="/register">register</a>
</div>

{{#if hasResults}}
<ul style="margin:40px; margin-left:340px">
  {{#each results}}
  <li class="search-result">
    <div>{{title}}</div>
    <div>{{year}}</div>
    <div>{{id}}</div>
    <div>{{poster_path}}</div>
    <a href="/movie/{{id}}">Link to movie page</a>
  </li>
  {{/each}}
</ul>
{{else}}
Error loading trending
{{/if}}


{{/if}}