
{{!-- Sign-In Modal --}}
<div id="modal1" class="modal">
  <div class="modal-content">
    <h5>Sign-In</h5>
    <p>
      <form id="signin_modal" name="signin" method="post" action="signin">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
      </form>
    </p>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-orange btn-flat">Sign In</a>
  </div>
</div>
{{!-- Register Modal --}}
<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>Register</h4>
    <p>
      <form id="register" name="register" method="post" action="/register">
        <label for="name">Full Name</label>
        <input class="text" name="name" type="name" /><br>
        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" />
        <label for="password">Password</label>
        <input name="password" type="password" />
      </form>
    </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-orange btn-flat">Submit</a>
  </div>
</div>


<main>
  {{!-- Trending --}}
  <div class="gridx">
    <div class="cell title">
      Trending
    </div>

    {{#if hasResults}}
    
    <div class="swiper-container">
      <div class="swiper-wrapper">
      {{#each results}}
        <img class="poster swiper-slide" data-id="{{id}}"src="http://image.tmdb.org/t/p/w185{{poster_path}}" alt="{{title}}">
      {{/each}}
      </div>
    </div>
    {{else}}
    Error Loading Trending
    {{/if}}
    <br>
{{!--Top Rated --}}
<div class="gridx">
    <div class="cell title">
      Top Rated
    </div>
    
<<<<<<< HEAD
    {{#if hasUpcoming}}
=======
    {{#if trending.hasResults}}
>>>>>>> b170d49b23d69e0182a761fa53dedd0e8ee9d882
    
    <div class="swiper-container">
      <div class="swiper-wrapper">
      {{#each trending.results}}
        <img class="poster swiper-slide" data-id="{{id}}"src="http://image.tmdb.org/t/p/w185{{poster_path}}" alt="{{title}}">
      {{/each}}
      </div>
    </div>
    {{else}}
    Error Loading The Top Rated
    {{/if}}

<<<<<<< HEAD
=======
    {{#if upcoming.hasResults}}
    
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {{#each upcoming.results}}
        <img class="poster swiper-slide" data-id="{{id}}" src="http://image.tmdb.org/t/p/w185{{poster_path}}"
          alt="{{title}}">
        {{/each}}
      </div>
    </div>
    {{else}}
    Error loading trending
    {{/if}}
>>>>>>> b170d49b23d69e0182a761fa53dedd0e8ee9d882

</main>


<script src="../dist/js/swiper.min.js"></script>
<script>
  //<a href="/movie/{{id}}">
  $(".poster").click("on", function(){
    window.location.href = "/movie/" + $(this).attr("data-id");
  })
</script>