<main>
   <div class="movie-wrapper">
      {{#if id}}

      <div class="movie-header">
         <img src="http://image.tmdb.org/t/p/w185{{poster_path}}"></img>
         <div class="movie-header-info">
            <h1>{{title}} <span>{{release_date}}</span> </h1>
            <h4>{{tagline}}</h4>
            <p>
               <span>Runtime: {{runtime}} </span>
               <span>Budget: {{budget}}</span>
            </p>
            <p>
               {{#each genres}}
               <span>{{name}} | </span>
               {{/each}}
            </p>
            <a href="{{homepage}}">Check Out Movie Homepage</a>

            {{#if isLoggedIn}}
            <div id="buttons">
               <button class="wishlist-button btn" data-id="{{id}}" data-title="{{title}}"
                  data-poster="{{poster_path}}">Add to
                  Wishlist</button>
               <button class="watchedlist-button btn" data-id="{{id}}" data-title="{{title}}"
                  data-poster="{{poster_path}}">Add
                  to
                  Watchedlist</button>
            </div>
            {{else}}
            <div>
               <span>Sign in to add to your lists!</span>
               <a href="/signin" class="btn">Sign in</a>
            </div>
            {{/if}}

         </div>
      </div>


      <div>{{overview}}</div>



      {{else}}

      Sorry, No Movie Found By This ID

      {{/if}}
   </div>
</main>

<script>
   $(document).ready(function () {
      {{#if isLoggedIn }}
         requestList("watchedList", function (data) {
            data.map(movie => {
               var foundInResults = {{ id }} === parseInt(movie.apiId);

               if (foundInResults) {
                  $("#buttons").children(".watchedlist-button")
                     .text("Remove from Watched List").addClass("orange lighten-1")
               }
            })
         })

         requestList("wishList", function (data) {
            data.map(movie => {
               var foundInResults = {{ id }} === parseInt(movie.apiId);
               if (foundInResults) {
                  $("#buttons").children(".wishlist-button")
                     .text("Remove from Wish List").addClass("orange lighten-1")
               }
            })
         })
      {{/if}}
   })
</script>
<!-- Example data
{ adult: false,                                                                                             
  backdrop_path: '/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg',                                                        
  belongs_to_collection:                                                                                    
   { id: 86311,                                                                                             
     name: 'The Avengers Collection',                                                                       
     poster_path: '/qJawKUQcIBha507UahUlX0keOT7.jpg',                                                       
     backdrop_path: '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg' },                                                   
  budget: 356000000,                                                                                        
  genres:                                                                                                   
   [ { id: 12, name: 'Adventure' },                                                                         
     { id: 878, name: 'Science Fiction' },                                                                  
     { id: 28, name: 'Action' } ],                                                                          
  homepage: 'https://www.marvel.com/movies/avengers-endgame',                                               
  id: 299534,                                                                                               
  imdb_id: 'tt4154796',                                                                                     
  original_language: 'en',                                                                                  
  original_title: 'Avengers: Endgame',                                                                      
  overview:                                                                                                 
   'After the devastating events of Avengers: Infinity War, the universe is in ruins due to the efforts of t
d Titan, Thanos. With the help of remaining allies, the Avengers must assemble once more in order to undo Th
' actions and restore order to the universe once and for all, no matter what consequences may be in store.',
  popularity: 290.05,                                                                                       
  poster_path: '/or06FN3Dka5tukK1e9sl16pB3iy.jpg',                                                          
  production_companies:                                                                                     
   [ { id: 420,                                                                                             
       logo_path: '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',                                                       
       name: 'Marvel Studios',                                                                              
       origin_country: 'US' } ],                                                                            
  production_countries: [ { iso_3166_1: 'US', name: 'United States of America' } ],                         
  release_date: '2019-04-24',                                                                               
  revenue: 2503147735,                                                                                      
  runtime: 181,                                                                                             
  spoken_languages: [ { iso_639_1: 'en', name: 'English' } ],                                               
  status: 'Released',                                                                                       
  tagline: 'Part of the journey is the end.',                                                               
  title: 'Avengers: Endgame',                                                                               
  video: false,                                                                                             
  vote_average: 8.5,                                                                                        
  vote_count: 5276 }                                                                                        
  -->