<main>
   <div class="movie-wrapper">
      {{#if id}}

      <div class="movie-header">
         <img src="http://image.tmdb.org/t/p/w185{{poster_path}}"></img>
         <div class="movie-header-info">
            <h1> <span id="title-to-grab">{{title}}</span> <span>{{release_date}}</span> </h1>
            <h4>{{tagline}}</h4>
            <p>
               <span>Runtime: {{runtime}} </span>
               <span>Budget: {{budget}}</span>
            </p>
            <p>
               {{#each genres}}
               <span>{{name}} | </span>
               {{/each}}
            </p>


            {{#if isLoggedIn}}
            <div id="buttons">
               <button class="wishlist-button waves-effect waves-light btn-small orange" data-id="{{id}}"
                  data-title="{{title}}" data-poster="{{poster_path}}">
                  <i class="material-icons left">add</i>Add to Wishlist
               </button>
               <button class="watchedlist-button waves-effect waves-light btn-small orange" data-id="{{id}}"
                  data-title="{{title}}" data-poster="{{poster_path}}">
                  <i class="material-icons left">add</i>Add to Watchedlist</a>
               </button>
            </div>
            {{/if}}

            {{#unless isLoggedIn}}
            <div>
               <span>Sign in to add to your lists!</span>
               <a href="/signin" class="btn">Sign in</a>
            </div>
            {{/unless}}

            <div>
               <button class="homepage-link waves-effect waves-light btn-small orange" data-title="{{title}}">
                  <a href="{{homepage}}">
                     <i class="material-icons left">movie</i>Movie Website
                  </a>
               </button>
            </div>
         </div>
      </div>
<h2>
   <id="sumTitle">Summary
</h2>
</id>

      <div>{{overview}}</div>
      <br>
      <center>
         <div class="trailerDiv"><iframe id="youtubeVideo" width="560" height="315" frameborder="0"
               allow="autoplay; encrypted-media" allowfullscreen></iframe></div><br>
      </center>
      <h2>
   <id="recTitle">Recommended Movies
</h2>
</id>
      <div id="recommended"></div>

      {{else}}

      Sorry, No Movie Found By This ID

      {{/if}}
   </div>
   
</main>

<script>
   $(document).ready(function () {

      getRecommendations({{ id }}, function (data) {
         console.log(data);

         var htmlHolder = "<div class='swiper-container'><div class='swiper-wrapper'>";
         data.results.map(element => {
            htmlHolder += "<img class='poster swiper-slide' data-id='" + element.id +
               "' src='https://image.tmdb.org/t/p/original" + element.poster_path +
               "' alt='" + element.title +
               "'>"
         })
         htmlHolder += "</div></div>";

         $("#recommended").html(htmlHolder)
<<<<<<< HEAD
=======

>>>>>>> e906ccdcd3c5bebb573dadf12767928df22a4f6d
         var swiper = new Swiper(".swiper-container", {
            effect: "coverflow",
            initialSlide: 2,
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
               rotate: 50,
               stretch: 0,
               depth: 100,
               modifier: 1,
               slideShadows: true
            },
            pagination: {
               el: ".swiper-pagination"
            }
         });
<<<<<<< HEAD
=======
         $(".poster").click("on", function () {
            window.location.href = "/movie/" + $(this).attr("data-id");
         })
>>>>>>> e906ccdcd3c5bebb573dadf12767928df22a4f6d
      })

   {{#if isLoggedIn }}
   requestList("watchedList", function (data) {
      data.map(movie => {
         var foundInResults = {{id}} === parseInt(movie.apiId);

      if (foundInResults) {
         $("#buttons").children(".watchedlist-button")
            .text("Remove from Watched List").addClass("orange lighten-1")
      }
   })
         })

   requestList("wishList", function (data) {
      data.map(movie => {
         var foundInResults = {{id}} === parseInt(movie.apiId);
      if (foundInResults) {
         $("#buttons").children(".wishlist-button")
            .text("Remove from Wish List").addClass("orange lighten-1")
      }
   })
         })
   {{/if}}
      });

      $(document).ready(function () {
         var movie = $("#title-to-grab").text();
         var queryURL = "https://www.googleapis.com/youtube/v3/search?part=snippet&q=" + movie + "officialtrailer&h&key=AIzaSyAQkg4udR1aCSogaSzSCYfJbAO0pa_GSx4";
         console.log(queryURL)
         $.ajax({
            url: queryURL,
            method: "GET"
         }).then(function (response) {
            console.log(response.items[0].id.videoId);
            var video = response.items[0].id.videoId;
            var videoURL = "https://www.youtube.com/embed/" + video;
            console.log(videoURL);
            var videoPlay = $("#youtubeVideo").attr("src", videoURL);
         });
      });

</script>