<main>
	<div class="movie-wrapper">
		{{#if id}}

		<div class="">
			<div class="grid-x">
				<div class="cell medium-5 small-12 vcenter"><img class="poster center_image shad" src="https://image.tmdb.org/t/p/original{{poster_path}}">
				</div>


				<div class="cell medium-7 summary">
					<div class="grid-x">
						<div class="cell orange lighten-1 rcorners1 shad">

							<div class="dataTitle vcenter " id="title-to-grab"><h1>{{title}} </h1><span class="date">({{release_date}})</span></div>

							

						</div>
					</div>


					<div class="grid-x ">
						<div class="cell">
							<div class="grid-x">
                        <div class="cell vcenter">
								<p><span>Runtime: {{runtime}}</span> <span>Budget: ${{budget}}</span></p>
                  </div>

								<div class="cell vcenter">
									<p>{{#each genres}} <span>{{name}} |</span> {{/each}}</p>
								</div>
							</div>


							<h4 class="vcenter summary">{{tagline}}</h4>
						</div>
					</div>
					{{#if isLoggedIn}}

					<div class="grid-x ">
						<div class="cell vcenter">
							<div id="buttons">
								<button class="wishlist-button waves-effect waves-light btn-small orange btns" data-id="{{id}}" data-poster="{{poster_path}}" data-title="{{title}}"><i class="material-icons left">add</i>Add to Wishlist</button> <button class="watchedlist-button waves-effect waves-light btn-small orange btns" data-id="{{id}}" data-poster="{{poster_path}}" data-title="{{title}}"><i class="material-icons left">add</i>Add to Watchedlist</button>
							</div>
						</div>
					</div>
					{{/if}}

{{#unless isLoggedIn}}

				<div class="grid-x ">
					<div class="cell medium-6 vcenter">
						<a class="btn waves-effect waves-light orange btns" href="/signin">Sign in to add to your lists!</a>
					</div>
				</div>
				{{/unless}}

					<div class="summary vcenter">
						{{overview}}
					</div>
				</div>
			</div>
			{{else}} Sorry, No Movie Found By This ID {{/if}}
		</div>
	</div>
   <div class="grid-x trailer">
      <div class="cell dataTitle orange lighten-1 rcorners1 vcenter shad">
         <h1>Trailer</h1>
      </div>
      <div class="cell vcenter">
             <div class="trailerDiv "><iframe id="youtubeVideo" class="poster_vcenter" width="560" height="315" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>

      </div>
   </div>

      <div id="recommended"></div>
</main>
<script>
   $(document).ready(function () {

      getRecommendations({{ id }}, function (data) {
         console.log(data);

         var htmlHolder = "<div class='grid-x trailer'><div class='cell dataTitle orange lighten-1 rcorners1 vcenter shad'><h1>Recommended Movies</h1></div><div class='cell'><div class='swiper-container'><div class='swiper-wrapper'>";
         data.results.map(element => {
            htmlHolder += "<img class='poster swiper-slide' data-id='" + element.id +
               "' src='https://image.tmdb.org/t/p/original" + element.poster_path +
               "' alt='" + element.title +
               "'>"
         })
         htmlHolder += "</div></div></div></div>";

         $("#recommended").html(htmlHolder)
         var swiper = new Swiper(".swiper-container", {
            effect: "coverflow",
            initialSlide: 2,
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            loop: true,
            coverflowEffect: {
               rotate: 50,
               stretch: 0,
               depth: 100,
               modifier: 1,
               slideShadows: true
            },
            pagination: {
               el: ".swiper-pagination"
            }
         });
         
         $(".poster").click("on", function () {
            window.location.href = "/movie/" + $(this).attr("data-id");
         })
      })

   {{#if isLoggedIn }}
   requestList("watchedList", function (data) {
      data.map(movie => {
         var foundInResults = {{id}} === parseInt(movie.apiId);

      if (foundInResults) {
         $("#buttons").children(".watchedlist-button")
            .text("Remove from Watched List").addClass("orange lighten-1")
      }
   })
         })

   requestList("wishList", function (data) {
      data.map(movie => {
         var foundInResults = {{id}} === parseInt(movie.apiId);
      if (foundInResults) {
         $("#buttons").children(".wishlist-button")
            .text("Remove from Wish List").addClass("orange lighten-1")
      }
   })
         })
   {{/if}}
      });

      $(document).ready(function () {
         var movie = $("#title-to-grab").text();
         var queryURL = "https://www.googleapis.com/youtube/v3/search?part=snippet&q=" + movie + "officialtrailer&h&key=AIzaSyAQkg4udR1aCSogaSzSCYfJbAO0pa_GSx4";
         console.log(queryURL)
         $.ajax({
            url: queryURL,
            method: "GET"
         }).then(function (response) {
            console.log(response.items[0].id.videoId);
            var video = response.items[0].id.videoId;
            var videoURL = "https://www.youtube.com/embed/" + video;
            console.log(videoURL);
            var videoPlay = $("#youtubeVideo").attr("src", videoURL);
         });
      });

</script>
