{{#if hasResults}}
  <ul>
  {{#each results}}
    <li class="search-result">
      <div>{{title}}</div>
      <div>{{year}}</div>
      <div>{{id}}</div>
      <div>{{poster_path}}</div>
      <button class="watchlist-button" data-id="{{id}}">Add to Watchlist</button>
      <button class="watchedlist-button" data-id="{{id}}">Add to Watchlist</button>
    </li>
  {{/each}}
  </ul>
{{else}}
  You have no search results
{{/if}}
