{{#if Search}}
  <ul>
  {{#each Search}}
    <li class="search-result">
      <div>{{Title}}</div>
      <div>{{Year}}</div>
      <div>{{Type}}</div>
      <div>{{Poster}}</div>
      <button class="wishlist-button" data-id="{{imdbID}}" data-title="{{Title}}" data-poster="{{poster_path}}">Add to Wishlist</button>
      <button class="watchedlist-button" data-id="{{imdbID}}" data-title="{{Title}}" data-poster="{{poster_path}}">Add to Watchedlist</button>
    </li>
  {{/each}}
  </ul>
{{else}}
  You have no search results
{{/if}}
