<main>
  {{#if hasResults}}

  {{#each results}}
  <div class="search-result grid-x">

      <div class="cell medium-4 small-12">
        <img 
        src={{#if poster_path}}"https://image.tmdb.org/t/p/original{{poster_path}}"{{else}}"/styles/images/placeholder.png"{{/if}} 
        alt="{{title}}" class="poster">
      </div>
      <div class="cell medium-8 small-12 ">
        <div class="grid-x">
          <div class="cell">
            <a href="/movie/{{id}}">
              <h1 class="searchTitle search-info">{{title}}</h1>
            </a>
          </div>
        </div>
        <div class="grid-x">
          <div class="cell vcenter">
            <div id="buttons-{{id}} button">
              {{#if ../isLoggedIn}}
              <a class="wishlist-button waves-effect waves-light btn-small add_circle_outline grey" id="btns"
                data-id="{{id}}" data-title="{{title}}" data-poster="{{poster_path}}">
                Add to Wish List
              </a>
              <a class="watchedlist-button waves-effect waves-light btn-small add_circle_outline grey" id="btns"
                data-id="{{id}}" data-title="{{title}}" data-poster="{{poster_path}}">
                Add to Watched List
              </a>
              {{else}}
              <a class="btn waves-effect waves-light orange btns" href="/signin">Sign in to add to your lists!</a>

              {{/if}}
            </div>
          </div>
        </div>
      </div>


  </div>
  {{/each}}
  {{else}}
  Sorry, No Search Results!
  {{/if}}

</main>

<script>
  $(document).ready(function () {
    var results = [];
      {{#each results }}
      results.push({
        id: {{ id }},
        title: "{{title}}",
        poster_path: "{{poster_path}}"
      })
      {{/each}}

      {{#if isLoggedIn }}
      requestList("watchedList", {{userid}}, function (data) {
        data.map(movie => {
          var foundInResults = results.filter(res => res.id === parseInt(movie.apiId));

          if (foundInResults.length > 0) {
            $("#buttons-" + movie.apiId).children(".watchedlist-button")
              .text("Remove from Watched List").addClass("orange lighten-1")
          }
        })
      })

      requestList("wishList", {{ userid }}, function (data) {
        data.map(movie => {
          var foundInResults = results.filter(res => res.id === parseInt(movie.apiId));

          if (foundInResults.length > 0) {
            $("#buttons-" + movie.apiId).children(".wishlist-button")
              .text("Remove from Wish List").addClass("orange lighten-1")
          }
        })
      })
      {{/if}}
        });
</script>