{{#if hasResults}}
  <ul>
  {{#each results}}
    <li class="search-result">
      <div>{{title}}</div>
      <div>{{year}}</div>
      <div>{{id}}</div>
      <div>{{poster_path}}</div>
      <button class="wishlist-button" data-id="{{id}}" data-title="{{title}}" data-poster="{{poster_path}}">Add to Wishlist</button>
      <button class="watchedlist-button" data-id="{{id}}" data-title="{{title}}" data-poster="{{poster_path}}">Add to Watchedlist</button>

    </li>
  {{/each}}
  </ul>
{{else}}
  You have no search results
{{/if}}
