<main>
  {{#if hasResults}}

  <ul>
    {{#each results}}
    <li class="search-result">

      <div>
        <img 
        src={{#if poster_path}}"https://image.tmdb.org/t/p/original{{poster_path}}"{{else}}"/styles/images/placeholder.png"{{/if}}
        alt="{{title}}" class="search-poster">
      </div>
      <div class="search-info">
        <a href="/movie/{{id}}">
          <h1>{{title}}</h1>
        </a>
        <div id="buttons-{{id}}">
          {{#if ../isLoggedIn}}
          <a class="wishlist-button waves-effect waves-light btn-small add_circle_outline" data-id="{{id}}"
            data-title="{{title}}" data-poster="{{poster_path}}">
            Add to Wish List
          </a>
          <a class="watchedlist-button waves-effect waves-light btn-small add_circle_outline" data-id="{{id}}"
            data-title="{{title}}" data-poster="{{poster_path}}">
            Add to Watched List
          </a>
          {{else}}
          <span>Sign in to add to your lists!</span>
          <a href="/signin" class="btn">Sign in</a>
          {{/if}}
        </div>
      </div>


    </li>
    {{/each}}
  </ul>
  {{else}}
  You have no search results
  {{/if}}

</main>

<script>
  $(document).ready(function () {
    var results = [];
    {{#each results }}
    results.push({
      id: {{ id }},
      title: "{{title}}",
      poster_path: "{{poster_path}}"
    })
    {{/each}}

    {{#if isLoggedIn }}
    requestList("watchedList", function (data) {
      data.map(movie => {
        var foundInResults = results.filter(res => res.id === parseInt(movie.apiId));
        
        if (foundInResults.length > 0) {
          $("#buttons-" + movie.apiId).children(".watchedlist-button")
            .text("Remove from Watched List").addClass("orange lighten-1")
        }
      })
    })

    requestList("wishList", function (data) {
      data.map(movie => {
        var foundInResults = results.filter(res => res.id === parseInt(movie.apiId));
        
        if (foundInResults.length > 0) {
          $("#buttons-" + movie.apiId).children(".wishlist-button")
            .text("Remove from Wish List").addClass("orange lighten-1")
        }
      })
    })
    {{/if}}
  });
</script>